/*
Color Pallet:
https://coolors.co/65def1-a8dcd1-dce2c8-f96900-f17f29

#161925 - Rich Black FORGA 29
#23395B - Prussian Blue
#406E8E - Queen Blue
#8EA8C3 - Cadet Grey
#CBF7ED - Light Cyan

*/


body {
	background:#406E8E;
	color:#65DEF1;
	font-family: 'Source Serif Pro', serif;
}

.header {
	font-size:70px;
	text-align:center;
	color: #23395B;
	background:#CBF7ED ;
	margin-top:0;
	padding: 5px;
}


table {
	border-collapse: collapse;
	color: white;
	background-color: #8EA8C3;
	width:100%;
}

td {
	border: 1px solid black;
	text-align: center;
}

th {
	border: 1px solid black;
	font-size: 20px;
	padding:10px;
}

#expense-breakdown-section {
	padding: 5px;
	width: auto;
	font-size:20px;
	color:white;
}

.expense-breakdown {
	background:#8EA8C3;
	padding-left:10px;
	padding-top:0px;

}

h2 {
 margin-top:0;

}
h3 {
	margin-top: 0;
	margin-bottom: 5px;
	color:#65DEF1;
}
small {
	color:white;
}

/* Form Styles:
-----------------------------------*/
form {
	text-align:center;
	background: #8EA8C3;
	color:white;
	padding:10px;
	margin-bottom: 10px;
}
button {
	margin-top:5px;
}

#main {
	align-items: center;
}

#expenseCost {
	width:15%;
}
#expenseName {
	width:30%;
}

/* Grid Styles:
----------------------------------- */


#grid-item1 {
	align-items: center;
	padding-top:0;
}


#expenseTable {
	margin-top: 0;
}

/* Dynamic
------------------------------------ */
@media screen and (min-width:1000px) {

	#grid-container {
		display:grid;
		grid-template-columns: 1fr 1fr;
		margin-left:25%;
		margin-right: 25%;
		column-gap: 5%;
	}


}
